/* Resume css file */

/*------------------ CSS resets, standard settings --------------------*/

body,
div,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  box-sizing: border-box;
  line-height: 1.5;
}

a,
a:visited {
  color: #cccccc;
}

a:active {
  color: #fafafa;
}

a:hover {
  cursor: pointer;
}

.container {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.text-blue {
  color: #267ef2;
}

h3,
p,
a {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*---------------------HELPER CLASSES------------------*/

.bg-dark {
  background-color: #333;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.my-4 {
  margin: 4rem 0;
}

.my-3 {
  margin: 3rem, 0;
}

.mb-4 {
  margin-bottom: 4rem;
}

.margin-auto {
  margin: 0 auto;
}

.p-3 {
  padding: 3rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.text-primary {
  color: #267ef2;
}

.text-purple {
  color: #6e42f4;
}

/*---------------------SIDEBAR STYLES------------------*/

.sidebar {
  background-color: #ddd;
}

.header-logo {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
      rgba(38, 126, 242, 0.75),
      rgba(38, 126, 242, 0.75)
    ),
    url('./Images/austin.jpg') no-repeat center center/cover;
  color: #fafafa;
}

.header-logo > .top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0 0 20px;
}

.header-logo > .bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 20px 10px 0;
}

.sidebar .underlined {
  border-bottom: 1px solid #fafafa;
}

.pd-top-10 {
  padding-top: 10px;
}

.pd10 {
  padding: 10px 10px 10px 20px;
}

.full-width {
  color: inherit;
  display: block;
  width: inherit;
}

/*---------------------RESUME SECTION STYLES--------------*/

.mainContent {
  background: linear-gradient(
      rgba(220, 220, 220, 0.6),
      rgba(220, 220, 220, 0.6)
    ),
    url('./Images/y-so-serious-white.png') round center center;
}

.mainContent-inner {
  width: 60vw;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.mainContent a {
  color: #cc2299;
  font-weight: bold;
}

.icon-row {
  height: 30vh;
}

.icon {
  height: 5vh;
}

.icon:hover {
  cursor: pointer;
  color: #267ef2;
}

.tech-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid #267ef2;
}

.screenshot {
  width: 100%;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

footer {
  background-color: #333;
  color: #fafafa;
}

/* ---------------------- MODAL STYLES -------------------------*/

/* ---------------- CAROUSEL STYLES --------------------------------*/

#carousel {
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px 0;
  position: relative;
  min-height: 30.5vw;
}

.carousel-li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  display: block;
}

.carousel-li.active {
  opacity: 1;
}

.carousel-btn {
  border: none;
  background-color: #222222;
  color: #fafafa;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 8;
}
.carousel-btn:hover {
  cursor: pointer;
}

.prevBtn {
  left: -10px;
  top: 50%;
}

.nextBtn {
  right: -10px;
  top: 50%;
}

.caption {
  background-color: #fafafa;
  border: 1px solid #222222;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8em;
  display: block;
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: -30px;
  box-shadow: 5px 5px 8px #666666;
}

/* ---------------- Media queries for 600px breakpoint -----------------*/

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .mainContent-inner {
    width: 90vw;
  }

  .icon-row {
    max-width: 100vw;
  }

  .icon-row > img {
    width: 30vw;
  }

  .resume-header a {
    transition: 0.5s;
  }

  .resume-header a:hover {
    color: yellow;
  }
}
