/* Resume css file */

body, div, ul, li, a, p, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,
      Ubuntu,Cantarell,Helvetica,Neue,sans-serif;
	box-sizing: border-box;
}

a, a:visited {
	color: #cccccc;
}

a:active {
	color: #fafafa;
}

.container {
	min-height: 100vh;
}
/*---------------------SIDEBAR STYLES------------------*/

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 30vw;
	height: 100vh;
	background-color: #222222;
	color: #cccccc;
}

.header-logo {
	height: 30vh;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.header-logo > .top {
	background-color: #fafafa;
	color: #543de5;
	padding-top: 40px;
}

.header-logo > .bottom {
	background: linear-gradient( to right, #6e42f4, #267ef2 );
	color: #fafafa;
	padding-bottom: 40px;
}

.sidebar h3 { 
	padding: 30px 10px 5px 0;
	border-bottom: 1px solid #fafafa;
	width: 80%;
	margin: 0 auto;
}

.projects li {
	padding: 10px 10px 10px 20px;
}

.projects li > a {
	color: inherit;
}

.projects li:hover {
	color: #fafafa;
	cursor: pointer;
	border-left: 3px solid #fafafa;
}

.collapsed-list, .collapsed-list-btn {
	display: none;
}


/*---------------------RESUME SECTION STYLES--------------*/

.mainContent {
	width: 70vw;
	height: 100vh;
	overflow: scroll;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #e0edff;
}

.mainContent > * {
	padding: 10px 25px;
}

.resume-header {
	text-align: center;
	color: #fafafa;
	background: linear-gradient(to right, #6e42f4, purple);
	letter-spacing: 3px;
}

.resume-header-item {
	padding: 10px;
	color: #fafafa;
}

.resume-header-item > a {
	color: inherit;
}

.resume-section {
	text-align: left;
	margin: 30px 0;
}

.resume-section > * {
	background-color: #fafafa;
}

.resume-section > h2 {
	background: #6e42f4;
	color: #fafafa;
	border-radius: 8px 8px 0 0;
}

.resume-section > h2, h3, ul {
	padding: 25px;
}

.resume-section > p {
	padding: 25px;
}

.resume-section > h3 {
	color: #6e42f4;
}

.underline {
	height: 1px;
	width: 40vw;
	background: linear-gradient(to right, #6e42f4, #dddddd);
}

.ul-square {
	background-color: #fafafa;
	border-radius: 0 0 8px 8px;
}

.ul-square > li {
  padding-left: 1em; 
  padding-top: 10px;
  padding-bottom: 10px;
  text-indent: -1.1em;
}

.ul-square > li::before {
	content: "■"; 
	font-family:"Arial Black";
	color: #6e42f4;
	padding-right: 0.5em;
}

.screenshot {
	width: 60vw;
	display: block;
	margin: 0 auto;
}


/* ---------------- Media queries for 600px breakpoint -----------------*/

@media (max-width:600px) {
	.header-logo {
		display: none;
	}
	
	.project-list {
		display: none;
	}
	
	.sidebar {
		width: 100vw;
		height: 15vh;
	}
	
	.mainContent {
		width: 100vw;
		height: 85vh;
		overflow: auto;
		position: relative;
		top: 15vh;
	}
	
	.collapsed-list {
		display: none;
        width: 0;
		height: 0;
		transition: all 0.5s;
		color: #fafafa;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	
	.collapsed-list.active {
		display: block;
		min-width: 100vw;
		height: 100vh;
		z-index: 9;
		background-color: #222222;
	}

	
	.collapsed-list-btn {
		width: 100px;
		height: 15vh;
		background-color: #222222;
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3em;
		z-index: 10;
	}
	
	.collapsed-list-btn:hover {
		cursor: pointer;
	}
	
	.collapsed-list > h2 {
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.collapsed-list-ul {
		background-color: #222222;
		display: flex; 
		flex-direction: column;
		z-index: 20;
	}
	
	.collapsed-list-ul > a {
		transition: 0.2s;
		height: 15vh;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 20px;
	}
	
	.collapsed-list-ul > a:hover {
		cursor: pointer;
		background-color: #dddddd;
		color: #222222;
	}

	
	.screenshot {
		width: 90vw;
	}


}